@model SzakdolgozatAppMvc.Models.PlayerModel

@{

}
<div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
    <h1 class="title">@ViewBag.Title</h1>
    @using (Html.BeginForm("Add","Player",FormMethod.Post))
    {

        @Html.IsaTextBox("PlayerName", "Játékos neve:", Model.Name)
        @*@Html.EnumDropDownListFor(2)*@
        @Html.IsaTextBox("BornYear", "Születési év:", Model.Bornyear)
        @Html.IsaTextBox("Age", "Életkor:", Model.Age)
        <footer class="fixed-bottom">
            <div class="row">
                <div class="text-center row ">
                    <div class="row btn-group col-md-10" id="functionButtonMenuRow">
                        <div class="col-md-1">
                            <button class="btn-primary btn hidden" type="button" id="pageLeft">
                                <i data-icon="R"></i>
                            </button>
                        </div>
                        <div class="col-md-10" id="functionButtonMenu">

                            <button class="btn-primary btn functionButtonVisible" id="Mentes_Button" onclick="submitForm();" type="button"><i data-icon="N"></i>Mentés</button>
                            <button class="btn-primary btn functionButtonVisible" id="Megse_Button" onclick="IratokEdit.Cancel()" type="button"><i data-icon="w"></i>Mégse</button>

                        </div>
                    </div>
                </div>
            </div>
        </footer>
    }
    </div>