<table id="jqGrid"></table>
<div id="jqGridPager"></div>


@section scripts{

    @Scripts.Render("~/bundles/grid")
    <script>
        $(function () {
            $grid = $("#jqGrid").jqGrid({
        url: '@Url.Action("Felnott","Player")',
        mtype: 'GET',
        datatype: 'json',
        colModel: [
            { label: 'Id', name: 'Id', hidden: true },
            { label: 'Név', name: 'Name' },
            { label: 'Poszt', name: 'Poszt' },
            { label: 'Kor', name: 'Age' },
            { label: 'Születési év', name: 'Bornyear' }
        ],
        loadonce: true
    });
});
    </script>
}
