<table id="jqGrid"></table>
<div id="jqg-pager"></div>
<footer class="fixed-bottom">
    <div class="row">
        <div class="text-center row ">
            <div class="row btn-group col-md-10" id="functionButtonMenuRow">
                <div class="col-md-1">
                    <button class="btn-primary btn hidden" type="button" id="pageLeft">
                        <i data-icon="R"></i>
                    </button>
                </div>
                <div class="col-md-10" id="functionButtonMenu">

                    <button class="btn-primary btn functionButtonVisible" id="Mentes_Button" onclick="href('Player/Add?id=0')" type="button"><i data-icon="N"></i>Hozzáad</button>

                </div>
            </div>
        </div>
    </div>
</footer>

@section scripts{

    @Scripts.Render("~/bundles/grid")
    <script>
        $(function () {
            $grid = $("#jqGrid").jqGrid({
        url: '@Url.Action("Felnott","Player")',
        mtype: 'GET',
        datatype: 'json',
        colModel: [
            { label: 'Id', name: 'Id', hidden: true },
            { label: 'Név', name: 'Name' },
            { label: 'Poszt', name: 'Poszt' },
            { label: 'Kor', name: 'Age' },
            { label: 'Születési év', name: 'Bornyear' },
            { name: 'Lehetőségek', index: 'price', width: 60, align: "center", editable: true, formatter: formatOperations }
                ],
                rowNum: 500, // number of rows displayed
                loadonce: false, // load only once
                sortname: 'NAME', // sort by default by NAME column
                sortorder: "asc",
                width: window.innerWidth - 80, // grid width
                height: 300, // grid height
                viewrecords: true, // display the number of records
                caption: "Customers",
                pager: 'jqg-pager' // navigation item id
            });

        });

    </script>
}
