<table id="jqGrid"></table>
<div id="grid-pager"></div>
<footer class="fixed-bottom">
    <div class="row">
        <div class="text-center row ">
            <div class="row btn-group col-md-10" id="functionButtonMenuRow">
                <div class="col-md-1">
                    <button class="btn-primary btn hidden" type="button" id="pageLeft">
                        <i data-icon="R"></i>
                    </button>
                </div>
                <div class="col-md-10" id="functionButtonMenu">

                    <button class="btn-primary btn functionButtonVisible" id="Mentes_Button" onclick="href('Player/Add?id=0')" type="button"><i data-icon="N"></i>Hozzáad</button>

                </div>
            </div>
        </div>
    </div>
</footer>

@section scripts{

    @Scripts.Render("~/bundles/grid")
    <script>
        $(function () {
            $grid = $("#jqGrid").jqGrid({
        url: '@Url.Action("Felnott","Player")',
        mtype: 'GET',
        datatype: 'json',
        colModel: [
            { label: 'Id', name: 'Id', hidden: true },
            { label: 'Név', name: 'Name' },
            { label: 'Poszt', name: 'Poszt' },
            { label: 'Kor', name: 'Age' },
            { label: 'Születési év', name: 'Bornyear' },
            { name: 'Lehetőségek', index: 'price', width: 60, align: "center", editable: true, formatter: formatOperations }
                ],
                search: true,
                pager: '#grid-pager',
                jsonReader: { cell: "" },
                rowNum: 10,
                rowList: [5, 10, 20, 50],
                sortname: 'id',
                sortorder: 'asc',
                viewrecords: true,
                height: "100%",
                caption: "Multiple search with local data"
            });
            $grid.jqGrid('navGrid', '#grid-pager', { add: false, edit: false, del: false, search: true, refresh: true },
                {}, {}, {}, { multipleSearch: true, multipleGroup: true, showQuery: true });
        });
        

    </script>
}
