<table id="jqGrid"></table>
<div id="jqg-pager">
</div>
<footer class="fixed-bottom">
    <div class="row">
        <div class="text-center row ">
            <div class="row btn-group col-md-10" id="functionButtonMenuRow">
                <div class="col-md-1">
                    <button class="btn-primary btn hidden" type="button" id="pageLeft">
                        <i data-icon="R"></i>
                    </button>
                </div>
                <div class="col-md-10" id="functionButtonMenu">

                    <button class="btn-primary btn functionButtonVisible" id="Mentes_Button" onclick="href('Player/Add?id=1')" type="button"><i data-icon="N"></i>Hozzáad</button>
                    
                </div>
            </div>
        </div>
    </div>
</footer>

@Styles.Render("~/Content/gridcss")

@section scripts{

    @Scripts.Render("~/bundles/grid")
    <script>
        $(function () {
            var grid_selector = "#jqGrid";
            var pager_selector = "#grid-pager";
            jQuery(grid_selector).jqGrid({
        url: '@Url.Action("Ifjusagi","Player")',
        mtype: 'GET',
        datatype: 'json',
        colModel: [
            { label: 'Id', name: 'Id', hidden: true },
            { label: 'Név', name: 'Name' },
            { label: 'Poszt', name: 'Poszt' },
            { label: 'Kor', name: 'Age' },
            { label: 'Születési év', name: 'Bornyear' },
            { name: 'Szerkesztés', index: 'Edit', align: 'left', formatter: EditFormatter, search: false, sortable: false },
            { name: 'Megtekintés', index: 'Details', align: 'left', formatter: DetailsFormatter, search: false, sortable: false },
            { name: 'Törlés', index: 'Delete', align: 'left', formatter: DeleteFormatter, search: false, sortable: false },
    ],
                loadonce: true,
                rowNum: 30,
                rowList: [5, 10, 20, 30],
                pager: pager_selector,
                altRows: true,
                multiboxonly: true,
                caption: "jqGrid with listing",
                loadComplete: function () {
                    var table = this;
                    setTimeout(function () {
                        updatePagerIcons(table);
                    }, 0);
                }
            });
        });

        function updatePagerIcons(table) {
            var replacement =
            {
                'ui-icon-seek-first': 'ace-icon fa fa-angle-double-left bigger-140',
                'ui-icon-seek-prev': 'ace-icon fa fa-angle-left bigger-140',
                'ui-icon-seek-next': 'ace-icon fa fa-angle-right bigger-140',
                'ui-icon-seek-end': 'ace-icon fa fa-angle-double-right bigger-140'
            };
            $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
                var icon = $(this);
                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
            })
        }
        function DetailsFormatter(cellvalue, options, rowObject) {
            return "<a href='/Player/Details?id=" + rowObject.Id + "'>Megtekintés</a>";
        }
        function EditFormatter(cellvalue, options, rowObject) {
            return "<a href='/Player/Edit?id=" + rowObject.Id + "'>Szerkesztés</a>";

        }
        function DeleteFormatter(cellvalue, options, rowObject) {
            return "<a href='/Player/Delete?id=" + rowObject.Id + "'>Törlés</a>";

        }
    </script>
}
