@{
    ViewBag.Title = "Kapcsolat";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bagó József Zsolt<br />
    Social Media koordinátor<br />
    <abbr title="Email">E-mail:</abbr>
    <a href="mailto:bagoj93@gmail.com">bagoj93@gmail.com</a>
</address>