@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Isaszegi Sport Egyesület</h1>
    <p class="lead">Ez az oldal a sportegyesület aktuális dolgaival foglalkozik</p>
    <p><a href="https://www.facebook.com/isaszegise/" class="btn btn-primary btn-lg">Facebook oldal&raquo;</a></p>
</div>