@Scripts.Render("~/bundles/login")

<div class="jumbotron">
    Isaszegi Sport Egyesület bejelentkezés:
    <br />
    <label>
        Felhasználó név:
    </label>
    <a> @Html.TextBox("UserName")</a>
    <br />
    <label>
        Jelszó:
    </label>
    <a>@Html.Password("Password")</a>
    <br />
    <button onclick="bejelentkezes()">
        Log IN
    </button>
</div>


